
.cite {
  background-color: darkorange;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding:10% 20% 20%;
}
.draw-quote__box {
  text-align: center;
}
.draw-quote__box p {
  min-height:30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: large;
}
.draw-quote__box .draw-quote__quote {
  font-style: italic;
  margin-bottom: 10px;
}

label {
  font-style: normal;
}
button {
  padding: 10px;
  background-color:yellow;
  font-size: 0.8em;
  border: 0;
  border-radius: 0;
  margin:10px auto;
  cursor: pointer;
  font-weight: 700;
}
button:focus {
  outline-width: 0;
}
button:hover {
  background-color: #ffff59;
}
.all-quotes {
  margin: 30px auto;
}
.all-quotes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.all__one-quote {
  margin: 5px;
  margin-top: 15px;
  text-align: center;
  list-style: none;
  font-style: italic;
  width:calc(50% - 10px);
  padding: 20px;
  background-color: #ffff59;
}
.all__author {
  font-style: normal;
}